@import "style.scss";

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    margin: 0 0 20px 0;
    background-color:rgba(255, 255, 255, 1);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media (max-width: $md3) {
            background-color: rgb(185, 185, 185);
        z-index: 2;
        }
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        margin: 0 20px;
        @media (max-width: $md3) {
            height: 50px;
        }
    }

    &__logo {
        flex: 0 0 60px;
        overflow: hidden;
        position: relative;
        z-index: 3;
        img {
            max-width: 100%;
        }
    }

    &__burger {
        display: none;
        @media (max-width: $md3) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            &::before, &::after {
                content: '';
                background-color: black;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active {
                
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                    transition: all 0.3s ease 0s;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                    transition: all 0.3s ease 0s;
                }
                span {
                    transform: scale(0);
                }
            }
            span {
                position: absolute;
                background-color: black;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
        }
    }

    &__menu {
        @media (max-width: $md3) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 70px 20px 0 20px;
            transition: all 0.5s ease 0s;
            background-color: rgba(255, 255, 255, 1);
        }
        &.active {
            top: 0%;
            transition: all 0.5s ease 0s;
        }
    }

    &__list {
        display: flex;
        li {
            margin: 0 0 0 40px;
        }
        @media (max-width: $md3) {
            display: block;
            li {
                margin: 0 0 20px 0;
            }
        }
    }

    &__link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28 / 14 * 100%;
        letter-spacing: 0.5px;
        color: #313131;
    }
}

.sign-up {
    color: #FFFFFF;
    padding: 4px 15px;
    font-weight: 500;
    background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
    border-radius: 3px;
}

.login {
    font-weight: 500;
}

body.lock {
    overflow: hidden;
}

.welcome {
    background-image: url(../img/home/bg1.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 0 70px 0;
    &__content {
        margin: 0 80px 0 80px;
        @media (max-width: $md3) {
            margin: 0 15px 0 15px;
        }
    }
}

.content {

    &__info {
    }

    &__title {
        font-family: 'Varela';
        font-style: normal;
        font-weight: 400;
        font-size: 85px;
        line-height: 95 / 85 * 100%;
        color: #FFFFFF;
        padding: 300px 800px 20px 0;
        @media (max-width: $md3) {
            font-size: 40px;
            padding: 150px 0 0 0;
            text-align: center;
            margin: 0 0 20px 0;
        }
    }

    &__text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28 / 18 * 100%;
        letter-spacing: 0.5px;
        color: #FAFAFA;
        margin: 0 0 40px 0;
        @media (max-width: $md3) {
            font-size: 15px;
            text-align: center;
        }
    }

    &__form {
    }

    &__category {
        margin: 0 0 20px 0;
        display: flex;
        padding: 0 0 30px 0;
        justify-content: end;
        @media (max-width: $md3) {
            display: block;
            text-align: center;
            padding: 0 0 30px 0;
        }
    }

    &__item {
        li {
            margin: 0 0 10px 0;
        }
    }

    &__link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #B8B8B8;
        
    }
}
.form {
    
    &__body {
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: #FAFAFA;
        opacity: 0.8;
        width: 405px;
        height: 45px;
        text-align: center;
        @media (max-width: $md3) {
            width: 100%;
            height: 70px;
            margin: 0 0 30px 0;
        }
    }

    &__button {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 13px;
        line-height: 9px;
        letter-spacing: 1px;
        color: #FAFAFA;
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
        line-height: 9px;
        display: inline-flex;
        align-items: center;
        height: 25px;
        justify-content: center;
        text-align: center;
        margin: 0 25px 0 10px;
        padding: 0 20px;
        @media (min-width: $md2) {
            transition: background 0.3s ease 0s;
            &:hover {
                background: linear-gradient(95.32deg, #707070 0%, #353535 101.64%);
            }
        }
        @media (max-width: $md3) {
            height: 40px;
            width: 40%;
        }
    }

    &__item {
    }

    &__input {
        @media (max-width: $md3) {
            width: 80%;
        }
    }

    &__btn {
        background-color: #FAFAFA;
        opacity: 0.8;
        @media (max-width: $md3) {
            display: none;
        }
    }
}

.new {
    margin: 0 80px 0 80px;
    @media (max-width: $md3) {
        margin: 0 15px 0 15px;
    }
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28 / 24 * 100%;
        letter-spacing: 0.5px;
        color: #313131;
        padding: 0 0 5px 0;
        border-bottom: 1px solid #D6D6D6;
        border-radius: 5px;
        margin: 0 0 20px 0;
    }

    &__rows {

    }

    &__row {
        
    }
}

.title {
}
.row {
    
    &__items {

        display: flex;
        flex-direction: row;
        align-items:center;
        @media (max-width: $md5) {
            flex-direction: column;
        }
        @media (max-width: $md6) {
            flex-direction: column;
        }
    }

    &__img {
        
        
        img {
            width: 636px;
            height: 100%;
            @media (max-width: $md3) {
                width: 100%;
                height: 100%;
                border: solid 0px rgb(0, 0, 0);
                border-radius: 15px;
            }
            @media (max-width: $md5) {
                width: 100%;
                height: 100%;
                border: solid 0px rgb(0, 0, 0);
                border-radius: 15px;
            }
            @media (max-width: $md6) {
                width: 100%;
                height: 100%;
                border: solid 0px rgb(0, 0, 0);
                border-radius: 15px;
            }
        }
    }

    &__item {
        width: 636px;
        padding: 72px 82px 57px 82px;
        
        justify-content: center;
        align-items: flex-start;
        background-image: url(../img/home/Rectangle\ 40.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        @media (max-width: $md5) {
            margin: 30px 0 30px 0;
        }
        @media (max-width: $md6) {
            margin: 30px 0 30px 0;
        }
        @media (max-width: $md3) {
            padding: 25px 32px;
        }
    }

    &__info {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26 / 17 * 100%;
        align-items: center;
        color: #4B4B4B;
        margin: 0 0 12px 0;
        span {
            margin: 0 0 0 15px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 26 / 17 * 100%;
            color: #6E6E6E;
            @media (max-width: $md3) {
                font-size: 15px;
            }
            @media (max-width: $md3) {
                font-size: 15px;
            }
        }
    }

    &__title {
        a {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 25px;
            line-height: 39 / 25 * 100%;
            margin: 0 0 8px 0;
            color: #313131;
        @media (min-width: $md2) {
            transition: color 0.3s ease 0s;
            &:hover {
                color: #ff6464;
            }
        }
        @media (max-width: $md3) {
                font-size: 20px;
        }
        }
    }

    &__text {
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: #6E6E6E;
        margin: 0 0 30px 0;
        @media (max-width: $md3) {
            font-size: 15px;
        }
    }

    &__under {
    }
}
.under {
    display: flex;
    justify-content: space-between;

    &__read {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26 / 17 * 100%;
        color: #6E6E6E;
        @media (max-width: $md3) {
            font-size: 15px;
        }
    }

    &__full {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 26 / 17 * 100%;
        color: #313131;
        img {
            height: 25px;
        }
        @media (max-width: $md3) {
            font-size: 15px;
        }
    }
}






        